.space-bottom {
	margin-bottom:$space_size;
}
.space-bottom-0 {
	margin-bottom:0;
}
.space-bottom-1-3 {
	margin-bottom:$space_size / 3;
}
.space-bottom-1-2 {
	margin-bottom:$space_size / 2;
}
.space-bottom-2-3 {
	margin-bottom:$space_size * (2 / 3);
}
.space-bottom-3-2 {
	margin-bottom:$space_size * 1.5;
}
.space-bottom-2 {
	margin-bottom:$space_size * 2;
}
.space-bottom-3 {
	margin-bottom:$space_size * 3;
}
.space-bottom-4 {
	margin-bottom:$space_size * 4;
}
.space-bottom-5 {
	margin-bottom:$space_size * 5;
}
.space-bottom-6 {
	margin-bottom:$space_size * 6;
}
.space-bottom-8 {
	margin-bottom:$space_size * 8;
}
.space-top {
	margin-top: $space_size;
}
.space-top-0 {
	margin-top:0;
}
.space-top-1-3 {
	margin-top:$space_size / 3;
}
.space-top-1-2 {
	margin-top:$space_size / 2;
}
.space-top-2-3 {
	margin-top:$space_size * (2 / 3);
}
.space-top-3-2 {
	margin-top:$space_size * 1.5;
}
.space-top-2 {
	margin-top:$space_size * 2;
}
.space-top-3 {
	margin-top:$space_size * 3;
}
.space-top-4 {
	margin-top:$space_size * 4;
}
.space-top-5 {
	margin-top:$space_size * 5;
}
.space-top-6 {
	margin-top:$space_size * 6;
}
.space-top-8 {
	margin-top:$space_size * 8;
}